/*editAccount page*/  
:root{
    --primary: #5B25FF;
    --dark: rgb(17, 16, 16);
    --body: #363EE0;
    --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
    --active:#FFA700;
}
.account{
    color:rgb(58, 99, 151);
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-align: center;
}
#accountContainer{
    padding-top: 30px;
}
.delete{

    color:rgb(58, 99, 151);
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-align: center;
    font-size: 15px;
}
#deletebtn {
    color:whitesmoke;
    background-color: var(--primary);
  
}
