:root{
    --primary: #5B25FF;
    --dark: rgb(17, 16, 16);
    --body: #363EE0;
    --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
    --active:#FFA700;
}
#body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
    color: var(--body);
}
#illustration{
    height: 300px;
    width: 800px;

}
#loginhomebtn{
    background-color: transparent;
    color: var(--primary);
}
#signuphomebtn{
    background-color: transparent;
    color: var(--primary);
}
#signuphomebtn:hover{
    background-color: var(--dark);
}
#signuphomebtn:active{
    background-color: var(--active);
}

#loginhomebtn:hover{
    background-color: var(--dark);
}
#loginhomebtn:active{
    background-color: var(--active);
}



