:root{
    --primary: #5B25FF;
    --dark: rgb(17, 16, 16);
    --body: #363EE0;
    --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
    --active:#FFA700;
}
#body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
    color: var(--body);
}
#illustration{
    height: 300px;
    width: 800px;

}
#arrows{
    color: var(--primary)
}

.card{
    width:270px;
}
#img{
    height:145px;
    width:270px;
}
.card-text{
    font-size:0.9rem;
}
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    
    }

