:root{
    --primary: #5B25FF;
    --dark: rgb(17, 16, 16);
    --body: #363EE0;
    --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
    --active:#FFA700;
}

#navbar {
    background-color: #f3f3f3;
}
.navbar .navbar-brand{
    color:var(--primary) !important;
    font-weight: bolder;
}

#loginhomebtn{
    background-color: transparent;
    outline-color: var(--primary);
    color: var(--primary);
}
#signuphomebtn{
    background-color: transparent;
    outline-color: var(--primary);
    color: var(--primary);
}
#signuphomebtn:hover{
    background-color: var(--active);
}
#signuphomebtn:active{
    background-color: var(--dark);
}

#loginhomebtn:hover{
    background-color: var(--active);
}
#loginhomebtn:active{
    background-color: var(--dark);
}