/*Login Page with Sign up page*/
.login{
    color:rgb(58, 99, 151);
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    padding-left: 40%;
    padding-bottom: 3%;
}
#loginbtn {
    color:whitesmoke;
    background-color: rgb(58, 99, 151);
    box-shadow: 2px 3px 5px grey
}
#label{
    color:rgb(33, 44, 58);
    padding-top: 10px;
}
#remember{
    color:rgb(58, 99, 151);
    padding-top: 10px;
}
#checkLabel{
    color:rgb(33, 44, 58);
    padding-top: 10px;
}
#loginContainer{
    padding-top: 130px;
}

/*Sign up page*/
#signupContainer{
    padding-top: 100px;
}
.signup{
    color:rgb(58, 99, 151);
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
   
}
#signupbtn{
    color:whitesmoke;
    background-color: rgb(58, 99, 151);
    box-shadow: 2px 3px 5px grey
}

#signupbtn:hover{
    background-color: #14314dce;
}
/* rgb(60,179,113) */
#signupbtn:active{
    background-color: rgb(119,136,153);
}

/*Home Page*/


:root{
    --primary: #5B25FF;
    --dark: rgb(17, 16, 16);
    --body: #363EE0;
    --box-shadow: 0 8px 22px rgba(0,0,0,0,1);
    --active:#FFA700;
}
#body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
    color: var(--body);
}
#illustration{
    height: 300px;
    width: 800px;

}
#loginhomebtn{
    background-color: transparent;
    color: var(--primary);
}
#signuphomebtn{
    background-color: transparent;
    color: var(--primary);
}
#signuphomebtn:hover{
    background-color: var(--dark);
}
#signuphomebtn:active{
    background-color: var(--active);
}

#loginhomebtn:hover{
    background-color: var(--dark);
}
#loginhomebtn:active{
    background-color: var(--active);
}

.navbar .navbar-brand{
    color:#5B25FF !important;
    font-weight: bolder;
}

